# Pycharm
.idea/

# Cache files
youtube/downloads/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
.venv/

# Other files
db.sqlite3
database/
media/
.env.sample
liara.json

# git
.github
.git
.gitignore
LICENSE
README.md
