[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytube = "*"
tomli = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
mysqlclient = "*"
django-sslserver = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.10"
