<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% if title %}
        <title>{{ title }} | Moein Server</title>
    {% else %}
        <title>Moein Server</title>
    {% endif %}
</head>
<body>
<header>
    {% if request.user.is_authenticated %}
        <div>Hello {{ request.user }}!</div>
        <a href={% url 'logout' %}>Logout</a>
        {% if request.user.is_superuser %}
            <a href="/admin/">Admin</a>
        {% endif %}
    {% else %}
        <a href={% url 'login' %}>Login</a>
    {% endif %}
    <a href={% url 'home' %}>Home</a>
    <div>Server version: {{ version }}</div>
</header>
<hr/>
<main>
    {% block body %}{% endblock %}
</main>
</body>
</html>