<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% if title %}
        <title>{{ title }} | Moein Server</title>
    {% else %}
        <title>Moein Server</title>
    {% endif %}
</head>
<body>

{% if request.user.is_authenticated %}
    <div>Hello {{ request.user }}!</div>
{% else %}
    <a href={% url 'login' %}>Login</a>
    <a href={% url 'logout' %}>Logout</a>
{% endif %}
<hr/>
<div>
{% block body %}{% endblock %}
</div>

</body>
</html>